@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #BFC3BA;
    
}
header{
    display: flex;
    min-height: 70px;
    height: 70px;
    background-color: black;
    align-items: center;
    padding: 10px;
    
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        height: 80px;
        margin-right: 10px;
    }
    
    
    
h1{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    padding: 20px;
    margin: 10px;
    color: white;
}
nav a {
    padding-right: 50px;
}

nav a:hover{
    color: grey;
}

@media(max-widht:700px){
    header{
        flex-direction: column;
    }
}
article{
    display: flex;
    flex-direction: row;


}
.enlaces{
    padding: 10px 30px;
    font-weight: bold;
    font-size: 25px;

}
.enlaces:hover{
    color: dodgerblue;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.2);
    transition: 300ms;
}
.imagen{
    padding: 10px 10px;
    }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    
}

a{
    text-decoration: none;
    color: white;
}
form{
    text-align: left;
   font-size: 25px;
   margin: 20px;
   padding: 50px;
   border-radius: 2px;
   

}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: black;
    font-weight: 5px;
    font-family: 'Times New Roman', Times, serif;
}
nav button{
    border-radius: 4px;
    background-color: blue;
    width: 7rem;
    height: 3rem;
    cursor: pointer;
    box-shadow: 2px 3px;
}
.boton{
    color: black;
    text-align: center;
    font-weight: bold;
}
ul {
    background-color: black;
    text-align: center;
}
.titulo1{
        font-family: fantasy
}
.titulo2 {
    background-color: aliceblue;

}
.titulo3 {
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace

}
@media screen and (max-widht: 768px) {
    
}